
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>

    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <header>
    <div class="container">
      <input type="checkbox" name="check" id="check">
      <div class="logo-container">
        <h3 class="logo"><span>Task&nbsp;</span><span>Management&nbsp;</span><span>System</span></h3>
      </div>

      <div class="nav-btn">
        <div class="nav-links">
          <ul>
            <li class="nav-link" style="--i: .6s">
              <a href="#">Home</a>
            </li>
            <li class="nav-link" style="--i: .85s">
              <a href="#"><span>Manage&nbsp;</span><span>Tasks</span><i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">Create Task</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">View Tasks</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Update Tasks</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Update Tasks</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a href="#"><span>Manage&nbsp;</span><span>Projects</span><i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">Create Project</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">View Projects</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Update Projects</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Delete Project</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a href="#"><span>Manage&nbsp;</span><span>Account</span><i class="fas fa-caret-down"></i></a>
              <div class="dropdown">
                <ul>
                  <li class="dropdown-link">
                    <a href="#">View Account Details</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Change Account Details</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Change Username</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Change Password</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Delete Account</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <div class="log-sign" style="--i: 1.8s">
          <a href="#" class="btn transparent"><span>Create&nbsp;</span><span>Account</span></a>
          <a href="#" class="btn solid"><span>Log&nbsp;</span><span>In</span></a>
        </div>
          </ul>
        </div>

      </div>

      <div class="hamburger-menu-container">
        <div class="hamburger-menu">
          <div></div>
        </div>
      </div>
    </div>
  </header>
    <main>
    <section>
      <div>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="badalert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
    </div>
    </section>
    </main>
</body>
</html>
