{% extends 'base2.html' %}

{% block content %}
  <div class="container">
      <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">
            <br>
            <br>
          <h1 class="heading1">{% block title %} Change Username {% endblock %}</h1>
          <form method="post">

              <label for="username" class="text1">Existing Username</label>
              <br>
              <input type="text" name="username"
                     placeholder="Existing Username"
                     value="{{ request.form['username'] }}">
              </input>
              <br>

              <label for="newUsername" class="text1">New Username</label>
              <br>
              <input type="text" name="newUsername"
                     placeholder="New Username"
                     value="{{ request.form['newUsername'] }}">
              </input>
              <br>

              <label for="confirmNewUsername" class="text1">Confirm New Username</label>
              <br>
              <input type="text" name="confirmNewUsername"
                     placeholder="Confirm New Username"
                     value="{{ request.form['confirmNewUsername'] }}">
              </input>
              <br>

              <label for="password" class="text1">Password</label>
              <br>
              <input type="password" name="password"
                     placeholder="Password"
                     value="{{ request.form['password'] }}">
              </input>
              <br>

              </input>
              <br>
              <br>
              <button type="submit" class="button1">Change Username</button>
          </form>
      </div>
      <div class="col-sm">

      </div>
          </div>
  </div>


{% endblock %}