{% extends 'base4.html' %}

{% block content %}
  <div class="container">
      <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">
            <br>
            <br>
          <h1 class="heading1">{% block title %} Delete Project {% endblock %}</h1>
          <form method="post">

              <label for="projectid" class="text1">Project ID:</label>
              <br>
              <input type="number" name="projectid"
                     placeholder="Project ID"
                     value="{{ request.form['peojectid'] }}">
              </input>
              <br>

              <label for="title" class="text1">Title</label>
              <br>
              <input type="text" name="title"
                     placeholder="Title"
                     value="{{ request.form['title'] }}">
              </input>
              <br>

              </input>
              <br>
              <br>
              <button type="submit" class="button1">Delete Project</button>
          </form>
      </div>
      <div class="col-sm">

      </div>
          </div>
  </div>


{% endblock %}