<head>
    <link rel="stylesheet" href="/static/tablestyle.css">
</head>

{% extends 'base4.html' %}

{% block content %}
  <table>
  <caption>View Tasks</caption>
  <thead>
    <tr>
      <th scope="col">Task ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Project ID</th>
    </tr>
  </thead>
  <tbody>


  {% for row in data1 %}
    <tr>
      <td data-label="Task ID">{{ row[0] }}</td>
      <td data-label="Title">{{ row[1] }}</td>
      <td data-label="Description">{{ row[2] }}</td>
      <td data-label="Due Date">{{ row[3] }}</td>
        <td data-label="Priority">{{ row[4] }}</td>
        <td data-label="Status">{{ row[5] }}</td>
        <td data-label="Project ID">{{ row[6] }}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}