{% extends 'base3.html' %}

{% block content %}
  <div class="container">
    <div class="row"></div>
    <div class="col-sm">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    </div>
    <div class="col-sm">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    </div>
    <div class="col-sm">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    </div>
    <div class="col-sm">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    </div>
    <div class="row">
        <div class="col-sm">
        &nbsp;&nbsp;
        </div>
        <div class="col-sm">

            <h1 class="heading1">{% block title %} Log In {% endblock %}</h1>
            <form method="post">

                    <label for="title" class="text1">Username:</label>
                    <br>
                    <input type="text" name="username"
                           placeholder="Username"
                           value="{{ request.form['username'] }}">
                    </input>
                    <br>

                    <label for="password" class="text1">Password</label>
                    <br>
                    <input type="password" name="password"
                        placeholder="Password"
                        value="{{ request.form['password'] }}">
                    </input>
                    <br>

                    <input type="checkbox" id="checkbox" name="vehicle1" value="stayLoggedIn">
                    <label for="checkbox" class="text1"> Keep me logged in.</label><br>

                    <button type="submit" class="btn transparent">Submit</button>
            </form>

        </div>
        <div class="col-sm">


        </div>
            <div class="col-sm">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    </div>
    <div class="col-sm">

            <img src="/static/login.png" width="250" height="350">
    <br>
    </div>
    <div class="col-sm">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    </div>
    <div class="col-sm">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br>
    </div>
    </div>
  </div>

{% endblock %}