<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style2.css">
<head>
    <meta charset="UTF-8">
    <title>Task Management System</title>
</head>
<body>

{% extends 'base4.html' %}

{% block content %}
<br>
<br>
<h1 class="heading1" align="center">Welcome to the Task Management System.</h1>

<p class="text1" align="center">Welcome, {{data}}.</p>
<p class="text1" align="center">Please select a task from the dropdown menus.</p>
    <img src="/static/taskmanagement.png" class="image2" alt="Task Management">
{% endblock %}



</body>
</html>