<head>
    <link rel="stylesheet" href="/static/tablestyle.css">
</head>

{% extends 'base4.html' %}

{% block content %}
<div class="table-container">
  <table>
  <caption>View Projects</caption>
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Assigned Tasks</th>
    </tr>
  </thead>
  <tbody>


  {% for row in data1 %}
    <tr>
      <td data-label="Project ID">{{ row[0] }}</td>
      <td data-label="Title">{{ row[1] }}</td>
      <td data-label="Description">{{ row[2] }}</td>
      <td data-label="Assigned Tasks">{{ row[3] }}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
  </div>

{% endblock %}