<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Tasks</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% extends 'base2.html' %}

{% block content %}
    <br>
        <br>
    <h1 class="heading1" align="center">View Projects</h1>
    <div class="table-responsive">
        <table border="1"  class="table table-condensed">
               <tr>
        <th>ProjectID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Tasks</th>
      </tr>
        {% for row in data1 %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
            </table>
    </div>
{% endblock %}
</body>
</html>